body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3b5998;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-top: 10px;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ico{
  height: 70px;
}
#contenedor1 {
  padding: 10px;
  background-color: #D2B48C;
}
header h1{
  color: #654321;
  padding-top: 15px;
}
section {
  padding: 30px;
}
section h2{
  color: #000000;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos a los extremos */
}

.nav-item {
  margin-right: 15px;
}

.logo {
  padding-left: 30px;
  max-width: 200px;
}
.a21{
  padding-top: 10px;
  transition: 0.4s;
  font-size: 25px;
  transform: translateX(0);
  cursor: grab;
}
.a21:hover{
  transform: translateY(-1rem);
  background: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pompitas{
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.nalgaizq{
  width: 70%;
}
.nalgader{
  width: 30%;
}
.nalgader img{
  padding: 150px;
}
.bio{
  max-width: 100%;
}
.achievements{
  max-width: 100%;
}
.quotes{
  max-width: 100%;
}
h1{
  padding-top: 20px;
  color: #654321;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.page-link{
  color: #654321;
}
.page-link:hover{
  color: #000000;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: calc(33.33% - 1rem);
  margin: 1rem;
}

.card video {
  width: 100%;
  height: auto;
}
